<footer>
    <div class="inner">
        <span>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>   <%- __('powered_by', '<a href="http://hexo.io/" target="_blank">Hexo</a>') %> </span>
        <% if (theme.footer_extra_description) { %>
        <span class="footer-extra-description"><%- theme.footer_extra_description %></span>
        <% } %>
        <% if (theme.show_color_scheme_toggle) { %>
            <div class="color-scheme-toggle-wrapper">
                <div class="color-scheme-toggle" role="radiogroup" id="theme-color-scheme-toggle">
                    <label>
                        <input type="radio" value="light">
                        <span>Light</span>
                    </label>
                    <label>
                        <input type="radio" value="dark">
                        <span>Dark</span>
                    </label>
                    <label>
                        <input type="radio" value="auto">
                        <span>Auto</span>
                    </label>
                </div>
            </div>
        <% }%>
    </div>
</footer>
